<a href="https://colab.research.google.com/github/minshyee/AI-python-connect/blob/master/n122_chi_square_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 2 / NOTE 2*

# 📝 Assignment

# 카이제곱검정


## 1. 공공데이터 조작 연습. 

국가 통계 포털에서 아래 이미지를 참조하여

<https://kosis.kr/statisticsList/statisticsListIndex.do?menuId=M_01_01&vwcd=MT_ZTITLE&parmTabId=M_01_01#SelectStatsBoxDiv>

**2020년 8월**에 해당하는 규모별 미분양현황 에 대한 데이터셋을 생성하세요. 

<img src='https://i.imgur.com/aZc4UJO.png' width = 500>

- `60m이하`, `60~85m`, `85m초과`의 3개 규모와 (column)
- `서울`, `대전`, `대구`, `부산` 4개의 지역을 포함해야합니다. (row)
- `민간부문`만 포함합니다
- 데이터가 없는 경우는 0으로 처리하세요.

이후 데이터셋을 colab으로 불러오세요. 이때 변수의 이름은 `df`를 사용합니다.

In [ ]:
import pandas as pd
import numpy as np
from scipy import stats

In [ ]:
col = ['~60m2', '60~85m2', '85m2~']
row = ['서울', '대전', '대구', '부산']

In [ ]:
df=pd.read_csv('/content/규모별_미분양현황_20210917180424.csv',encoding='cp949')
df

  시도(1)        시점 부문(1)  60㎡이하  60∼85㎡  85㎡초과
0    서울  2020. 08  민간부문     54       2      0
1    부산  2020. 08  민간부문    577     735    142
2    대구  2020. 08  민간부문    143    1437     44
3    대전  2020. 08  민간부문    782       1      0

In [ ]:
df = df.drop(['시점','부문(1)'], axis=1)

In [ ]:
df

       60㎡이하  60∼85㎡  85㎡초과
시도(1)
서울        54       2      0
부산       577     735    142
대구       143    1437     44
대전       782       1      0

In [ ]:
df= df.set_index('시도(1)')

In [ ]:
df.dtypes

60㎡이하     int64
60∼85㎡    int64
85㎡초과     int64
dtype: object

## 2. 지역에 대해서 one-sample chi-square test를 실행, 해당 결과를 `chi1`에 저장 후 설명해보세요.

예시) 만약 **9월달 데이터**를 기준으로 한다면
```python
 [52+2+0, 590+665+142, 113+1061+42, 772+1+0]
```
을 비교 하게 될 것입니다.

In [ ]:
sum_df = df.sum(axis=1)
sum_df

시도(1)
서울      56
부산    1454
대구    1624
대전     783
dtype: int64

In [ ]:
chi1 = stats.chisquare(sum_df, axis = None)
chi1

Power_divergenceResult(statistic=1564.4572376818994, pvalue=0.0)

## 3. 지역과 규모에 대해서 two-sample chi-square test를 실행, 해당 결과를 `chi2`에 저장 후 설명해보세요.

예시) **9월달 데이터**를 기준으로 한다면

| |-60 | 60-85 | 85- |
|:-:|:-:|:-:|:-:|
|서울|52|2|0|
|대전|772|1|0|
|대구|113|1061|42|
|부산|590|665|142|

에 대해서 검정해야 할 겁니다.

In [ ]:
stats.chi2_contingency(df, correction = False)

(2064.576731417199, 0.0, 6, array([[ 22.24559612,  31.09522594,   2.65917794],
        [577.59101353, 807.36533061,  69.04365586],
        [645.12228746, 901.76155221,  77.11616033],
        [311.04110288, 434.77789124,  37.18100587]]))

### 4. 2번에 대해서 NumPy 를 사용하여 (Scipy를 사용하지 않고) $\chi^2$ test 시행 후 2번의 결과와 비교해보세요. 

- `obs`, `exp`, `chi`라는 변수를 사용해야합니다.

In [ ]:
obs = sum_df
exp = sum_df.mean()
sq = (obs - exp)**2
com_val = sq / exp
chi = com_val.sum()
chi

1564.4572376818994

## 🔥 도전 과제

아래 세가지를 다하면 됩니다.

### 1. Function

4번에서 사용한 one sample chisquare test를 함수의 형태로 변경하세요.

In [ ]:
v1 = [18,22,20,15,23,22]
v2 = [5,23,26,19,24,23]

def myChisq(value):
  obs = value
  print(obs)
  exp = np.mean(obs)
  print(exp)
  sq = np.power(obs - exp, 2)
  print(sq)
  com = sq / exp
  print(com)
  chi = np.sum(com)
  return chi

print(myChisq(v1), stats.chisquare(v1, axis = None), sep='\n\n')
# chisquare값과 pvalue를 출력해야합니다.

# myChisq(v2)

[18, 22, 20, 15, 23, 22]
20.0
[ 4.  4.  0. 25.  9.  4.]
[0.2  0.2  0.   1.25 0.45 0.2 ]
2.3000000000000003

Power_divergenceResult(statistic=2.3000000000000003, pvalue=0.8062668698851285)

### 2. ANOVA

아래 링크를 참조하여 ANOVA 에 대한 글을 읽고

<https://partrita.github.io/posts/ANOVA-python/>

다음 `4개 그룹에 대해서 평균의 차이가 있는지`에 대한 가설 검정을 시행하세요.

A : `38 33 35 92 76 97 88 41 11  9`

B : `18 52 62 48 30 40 87 12 97 82`

C :  `28 90  5 49 66 73 96 80  4 17`

D : ` 8 99  4 12  7 64 18 10  9 20`

In [ ]:
# 이 곳에 답안을 작성하시길 바랍니다