<a href="https://colab.research.google.com/github/minshyee/AI-python-connect/blob/master/n122_chi_square_test_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 2 / NOTE 2*

# ğŸ“ Assignment

# ì¹´ì´ì œê³±ê²€ì •


## 1. ê³µê³µë°ì´í„° ì¡°ì‘ ì—°ìŠµ. 

êµ­ê°€ í†µê³„ í¬í„¸ì—ì„œ ì•„ë˜ ì´ë¯¸ì§€ë¥¼ ì°¸ì¡°í•˜ì—¬

<https://kosis.kr/statisticsList/statisticsListIndex.do?menuId=M_01_01&vwcd=MT_ZTITLE&parmTabId=M_01_01#SelectStatsBoxDiv>

**2020ë…„ 8ì›”**ì— í•´ë‹¹í•˜ëŠ” ê·œëª¨ë³„ ë¯¸ë¶„ì–‘í˜„í™© ì— ëŒ€í•œ ë°ì´í„°ì…‹ì„ ìƒì„±í•˜ì„¸ìš”. 

<img src='https://i.imgur.com/aZc4UJO.png' width = 500>

- `60mì´í•˜`, `60~85m`, `85mì´ˆê³¼`ì˜ 3ê°œ ê·œëª¨ì™€ (column)
- `ì„œìš¸`, `ëŒ€ì „`, `ëŒ€êµ¬`, `ë¶€ì‚°` 4ê°œì˜ ì§€ì—­ì„ í¬í•¨í•´ì•¼í•©ë‹ˆë‹¤. (row)
- `ë¯¼ê°„ë¶€ë¬¸`ë§Œ í¬í•¨í•©ë‹ˆë‹¤
- ë°ì´í„°ê°€ ì—†ëŠ” ê²½ìš°ëŠ” 0ìœ¼ë¡œ ì²˜ë¦¬í•˜ì„¸ìš”.

ì´í›„ ë°ì´í„°ì…‹ì„ colabìœ¼ë¡œ ë¶ˆëŸ¬ì˜¤ì„¸ìš”. ì´ë•Œ ë³€ìˆ˜ì˜ ì´ë¦„ì€ `df`ë¥¼ ì‚¬ìš©í•©ë‹ˆë‹¤.

In [ ]:
import pandas as pd
import numpy as np
from scipy import stats

In [ ]:
col = ['~60m2', '60~85m2', '85m2~']
row = ['ì„œìš¸', 'ëŒ€ì „', 'ëŒ€êµ¬', 'ë¶€ì‚°']

In [ ]:
df=pd.read_csv('/content/ê·œëª¨ë³„_ë¯¸ë¶„ì–‘í˜„í™©_20210917180424.csv',encoding='cp949')
df

  ì‹œë„(1)        ì‹œì  ë¶€ë¬¸(1)  60ã¡ì´í•˜  60âˆ¼85ã¡  85ã¡ì´ˆê³¼
0    ì„œìš¸  2020. 08  ë¯¼ê°„ë¶€ë¬¸     54       2      0
1    ë¶€ì‚°  2020. 08  ë¯¼ê°„ë¶€ë¬¸    577     735    142
2    ëŒ€êµ¬  2020. 08  ë¯¼ê°„ë¶€ë¬¸    143    1437     44
3    ëŒ€ì „  2020. 08  ë¯¼ê°„ë¶€ë¬¸    782       1      0

In [ ]:
df = df.drop(['ì‹œì ','ë¶€ë¬¸(1)'], axis=1)

In [ ]:
df

       60ã¡ì´í•˜  60âˆ¼85ã¡  85ã¡ì´ˆê³¼
ì‹œë„(1)
ì„œìš¸        54       2      0
ë¶€ì‚°       577     735    142
ëŒ€êµ¬       143    1437     44
ëŒ€ì „       782       1      0

In [ ]:
df= df.set_index('ì‹œë„(1)')

In [ ]:
df.dtypes

60ã¡ì´í•˜     int64
60âˆ¼85ã¡    int64
85ã¡ì´ˆê³¼     int64
dtype: object

## 2. ì§€ì—­ì— ëŒ€í•´ì„œ one-sample chi-square testë¥¼ ì‹¤í–‰, í•´ë‹¹ ê²°ê³¼ë¥¼ `chi1`ì— ì €ì¥ í›„ ì„¤ëª…í•´ë³´ì„¸ìš”.

ì˜ˆì‹œ) ë§Œì•½ **9ì›”ë‹¬ ë°ì´í„°**ë¥¼ ê¸°ì¤€ìœ¼ë¡œ í•œë‹¤ë©´
```python
 [52+2+0, 590+665+142, 113+1061+42, 772+1+0]
```
ì„ ë¹„êµ í•˜ê²Œ ë  ê²ƒì…ë‹ˆë‹¤.

In [ ]:
sum_df = df.sum(axis=1)
sum_df

ì‹œë„(1)
ì„œìš¸      56
ë¶€ì‚°    1454
ëŒ€êµ¬    1624
ëŒ€ì „     783
dtype: int64

In [ ]:
chi1 = stats.chisquare(sum_df, axis = None)
chi1

Power_divergenceResult(statistic=1564.4572376818994, pvalue=0.0)

## Discription

ì—¬ê¸°ì„œ ê·€ë¬´ê°€ì„¤ì€ "4ê°œ ì§€ì—­ì˜ ë¯¸ë¶„ì–‘ ë°ì´í„°ì˜ ë¶„í¬ëŠ” ê°™ë‹¤" ì´ë‹¤

ê·¸ëŸ¬ë‚˜ ì¹´ì´ì œê³±ê²€ì •ì˜ ê²°ê³¼, p valueì˜ ê°’ì´ 0.05ë³´ë‹¤ ì‘ì€ ê°’ì„ ê°€ì§€ë¯€ë¡œ ê·€ë¬´ê°€ì„¤ì€ ê¸°ê°ë¨ì„ ì•Œìˆ˜ ìˆë‹¤.

ì¦‰, **4ê°œ ì§€ì—­ì˜ ë¯¸ë¶„ì–‘ ë°ì´í„°ì˜ ë¶„í¬ëŠ” ê°™ì§€ ì•Šë‹¤ë¼ê³  íŒë‹¨í•  ìˆ˜ ìˆë‹¤.**

## 3. ì§€ì—­ê³¼ ê·œëª¨ì— ëŒ€í•´ì„œ two-sample chi-square testë¥¼ ì‹¤í–‰, í•´ë‹¹ ê²°ê³¼ë¥¼ `chi2`ì— ì €ì¥ í›„ ì„¤ëª…í•´ë³´ì„¸ìš”.

ì˜ˆì‹œ) **9ì›”ë‹¬ ë°ì´í„°**ë¥¼ ê¸°ì¤€ìœ¼ë¡œ í•œë‹¤ë©´

| |-60 | 60-85 | 85- |
|:-:|:-:|:-:|:-:|
|ì„œìš¸|52|2|0|
|ëŒ€ì „|772|1|0|
|ëŒ€êµ¬|113|1061|42|
|ë¶€ì‚°|590|665|142|

ì— ëŒ€í•´ì„œ ê²€ì •í•´ì•¼ í•  ê²ë‹ˆë‹¤.

In [ ]:
stats.chi2_contingency(df, correction = False)

(2064.576731417199, 0.0, 6, array([[ 22.24559612,  31.09522594,   2.65917794],
        [577.59101353, 807.36533061,  69.04365586],
        [645.12228746, 901.76155221,  77.11616033],
        [311.04110288, 434.77789124,  37.18100587]]))

## Discription

ì§€ì—­ê³¼ ê·œëª¨ì— ê´€í•œ ì¹´ì´ì œê³±ê²€ì •ìœ¼ë¡œ
ê·€ë¬´ê°€ì„¤ì€  "ë¯¸ë¶„ì–‘ ë°ì´í„°ì— ê´€í•´ ì§€ì—­ê³¼ ê·œëª¨ëŠ” ì„œë¡œ ê´€ë ¨ì´ ìˆë‹¤." ì´ë‹¤.

ê·¸ëŸ¬ë‚˜ ì¹´ì´ì œê³±ê²€ì • ê²°ê³¼, p value ê°’ì´ 0.05ë³´ë‹¤ ì‘ì€ 0.0 ê°’ì„ ê°€ì§€ë¯€ë¡œ ê·€ë¬´ê°€ì„¤ ì´ ê¸°ê°ë¨ì„ ì•Œ ìˆ˜ ìˆë‹¤.

ë”°ë¼ì„œ, **ì§€ì—­ê³¼ ê·œëª¨ëŠ” ì„œë¡œ ê´€ë ¨ì—†ëŠ” ë…ë¦½ì ì¸ featureì„ì„ ì•Œ ìˆ˜ ìˆë‹¤**

### 4. 2ë²ˆì— ëŒ€í•´ì„œ NumPy ë¥¼ ì‚¬ìš©í•˜ì—¬ (Scipyë¥¼ ì‚¬ìš©í•˜ì§€ ì•Šê³ ) $\chi^2$ test ì‹œí–‰ í›„ 2ë²ˆì˜ ê²°ê³¼ì™€ ë¹„êµí•´ë³´ì„¸ìš”. 

- `obs`, `exp`, `chi`ë¼ëŠ” ë³€ìˆ˜ë¥¼ ì‚¬ìš©í•´ì•¼í•©ë‹ˆë‹¤.

In [ ]:
obs = sum_df
exp = sum_df.mean()
sq = (obs - exp)**2
com_val = sq / exp
chi = com_val.sum()
chi

1564.4572376818994

## ğŸ”¥ ë„ì „ ê³¼ì œ

ì•„ë˜ ì„¸ê°€ì§€ë¥¼ ë‹¤í•˜ë©´ ë©ë‹ˆë‹¤.

### 1. Function

4ë²ˆì—ì„œ ì‚¬ìš©í•œ one sample chisquare testë¥¼ í•¨ìˆ˜ì˜ í˜•íƒœë¡œ ë³€ê²½í•˜ì„¸ìš”.

In [ ]:
v1 = [18,22,20,15,23,22]
v2 = [5,23,26,19,24,23]

def myChisq(value):
    return None# ë‚´ìš©ì„ ì±„ìš°ì„¸ìš”.

myChisq(v1) 

# chisquareê°’ê³¼ pvalueë¥¼ ì¶œë ¥í•´ì•¼í•©ë‹ˆë‹¤.

myChisq(v2)

### 2. ANOVA

ì•„ë˜ ë§í¬ë¥¼ ì°¸ì¡°í•˜ì—¬ ANOVA ì— ëŒ€í•œ ê¸€ì„ ì½ê³ 

<https://partrita.github.io/posts/ANOVA-python/>

ë‹¤ìŒ `4ê°œ ê·¸ë£¹ì— ëŒ€í•´ì„œ í‰ê· ì˜ ì°¨ì´ê°€ ìˆëŠ”ì§€`ì— ëŒ€í•œ ê°€ì„¤ ê²€ì •ì„ ì‹œí–‰í•˜ì„¸ìš”.

A : `38 33 35 92 76 97 88 41 11  9`

B : `18 52 62 48 30 40 87 12 97 82`

C :  `28 90  5 49 66 73 96 80  4 17`

D : ` 8 99  4 12  7 64 18 10  9 20`

In [ ]:
# ì´ ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì‹œê¸¸ ë°”ëë‹ˆë‹¤